# Visulize pings from internetchecking script

In [1]:
import pandas as pd
import matplotlib
import sqlite3

In [2]:
srcfile = "./ping_results.db"

conn = sqlite3.connect(srcfile)

query = "select * from pings"
df = pd.read_sql_query(query, conn)

# make sure timestamp has the correct datatype
df['timestamp'] = pd.to_datetime(df['timestamp'])


display(df.head(1000))
print(len(df.index))

       id                  timestamp  success  rtt_ms      respondents
0       1 2025-07-07 00:13:41.803093        1   10.50          unknown
1       2 2025-07-07 00:18:42.712145        1   10.40          unknown
2       3 2025-07-07 00:19:12.728931        1   10.50          unknown
3       4 2025-07-07 00:19:30.222222        1   10.60          unknown
4       5 2025-07-07 00:19:33.239004        1   10.60          unknown
..    ...                        ...      ...     ...              ...
995   996 2025-08-05 05:36:02.328763        1    3.61   aftonbladet.se
996   997 2025-08-05 05:37:02.581016        1    3.44   aftonbladet.se
997   998 2025-08-05 05:38:02.835244        1    3.12  ping.bahnhof.se
998   999 2025-08-05 05:39:02.972743        1  106.00      192.0.43.10
999  1000 2025-08-05 05:40:02.249897        1    3.51      netgear.com

[1000 rows x 5 columns]

100976

In [ ]:
percentage_downtime =

In [3]:
# function to easy up the process
# Create a 3-hour chunk of datetimes
# Labels must be exactly one fewer than edges (boundry between bins)
# 1-3,3-6,6-9 ==> 
# starting values (one "side" of edges): 1,3,6
# end values (the other side of edges): 3,6,9
# so edges are then:  1,3,6,9
def create_time_bins(df: object, success: bool, bin_size: int):
    bins = range(0, 25, bin_size)
    labels = [f"{i:02d}:00-{i+bin_size:02d}:00" for i in bins[:-1]]
    df_filtered = df.loc[df['success'] == success].copy()
    df_filtered.loc[:, 'time_bin']  = pd.cut(df_filtered['timestamp'].dt.hour,
                                             bins=bins,
                                             labels=labels,
                                             right=False)
    #df_filtered = df_filtered.groupby('time_bin', observed=False).size()
    return df_filtered

# Failures
failures_per_bin_hourly = create_time_bins(df, 0, 1)
failures_per_bin_three_hours = create_time_bins(df, 0, 3)

# successes
successes_per_bin_hourly = create_time_bins(df, 1, 1)
successes_per_bin_three_hours = create_time_bins(df, 1, 3)

display(successes_per_bin_hourly)

,id,timestamp,success,rtt_ms,respondents,time_bin
0,1,2025-07-07 00:13:41.803093,1,10.50,unknown,00:00-01:00
1,2,2025-07-07 00:18:42.712145,1,10.40,unknown,00:00-01:00
2,3,2025-07-07 00:19:12.728931,1,10.50,unknown,00:00-01:00
3,4,2025-07-07 00:19:30.222222,1,10.60,unknown,00:00-01:00
4,5,2025-07-07 00:19:33.239004,1,10.60,unknown,00:00-01:00
...,...,...,...,...,...,...
100971,100972,2025-10-18 02:48:02.846670,1,41.70,4.2.2.2,02:00-03:00
100972,100973,2025-10-18 02:49:02.768207,1,10.80,ping.sunet.se,02:00-03:00
100973,100974,2025-10-18 02:50:02.960128,1,3.61,aftonbladet.se,02:00-03:00
100974,100975,2025-10-18 02:51:04.280981,1,10.90,ping.sunet.se,02:00-03:00
100975,100976,2025-10-18 02:52:03.662232,1,3.02,ping.bahnhof.se,02:00-03:00

In [4]:
def create_visual(df: object, type: )
successes_per_bin_three_hours.value_counts().sort_index()

SyntaxError: invalid syntax (1116593269.py, line 1)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# create a 1 by 2 figure combining two diagrans in one matplotlib-figure
fig, axs = plt.subplot(1,2,figsize=(21,7))

fig.suptitle("failures compared to successes", fontsize=24)

# First figure shows a bar diagram of when there's no connection
axs[0].bar(df_no_connection[timestamp], df_no_connction.)

In [10]:
sample_df = df.sample(n=1000, random_state=42)
sample_df.to_csv('ping_result_sample.csv', index=False)

In [ ]:

""" plt.figure(figsize=(14, 6)) """
sns.scatterplot(
    data=df,
    x='timestamp',
    y='rtt_ms',
    #hue='respondents',
    #palette='tab10',
    alpha=0.7
)
""" plt.title('Uptime Over Time (Success = 1, Failure = 0)')
plt.xlabel('Timestamp')
plt.ylabel('Success')
plt.xticks(rotation=45)
plt.grid(True)
plt.tight_layout()
plt.show() """

In [9]:
conn.close()